* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 80%;
    background-color: rgb(241, 252, 252);
    margin-left: 220px;
    margin-right: 220px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* 縮んだら折り返す */
    /* flex-wrap: wrap;
    height: 100vh; */
}

ul, ol {
    list-style-position: inside;
}  

header {
    width: 100%;
    margin-top: 60px;
}

.header {
    height: 33px;
}

.header img {
    width: 160px;
    height: auto;
}

main {
    width: 100%;
}

.main-img {
    height: 465px;
    width: 1000px;
}

.wrapper {
    width: 86%;
    height: 280px;
    background-color: white;
}

.section-title {
    padding-top: 25px;
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 19px;
}

.content-title {
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-title li {
    padding: 10px 0px;
}

.detail {
    
}










